svg{
        height: 20px;
        width: 20px;
}
button{
        height: fit-content;
        width: fit-content;
        padding: 5px 8px;
        border-radius: 50%;
        background-color: white;
        transition: all 0.2s;;
}
button:hover{
        transform: scale(1.2);
        cursor: pointer;
}